@page
@model Smallbank.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].SavingsBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].CheckingBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SavingsBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckingBalance)
            </td>
            <td>
                <a asp-page="./DepositCheck" asp-route-id="@item.CustomerId">Deposit Check</a> |
                <a asp-page="./Write" asp-route-id="@item.CustomerId">Write Check</a> |
                <a asp-page="./DepositCash" asp-route-id="@item.CustomerId">Deposit Savings</a> |
                <a asp-page="./Send" asp-route-id="@item.CustomerId">Send Payment</a> |
                <a asp-page="./Amalgamate" asp-route-id="@item.CustomerId">Amalgamate</a>

            </td>
        </tr>
}
    </tbody>
</table>
